.bg-color {
  background-color: #f50103;
}
.text-color {
  color: #f50103;
}
.bg {
  background-color: #101010;
}
.fourth-bg {
  background-color: #181818;
}
.btn-one {
  background-color: #f55529;
}
